/* Ebony Mono is made by Juno Nguyen under MIT license 
 * https://github.com/JunoNgx/ebony-mono
 * v1.0
 */

/* Universal colour variables */
:root {
    --fg-col: #000;
    --bg-col: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg-col: #fff;
        --bg-col: #000;
    }
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.25rem;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--fg-col);
    background: var(--bg-col);
    /* Set the font family to existing common system UI  */
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header,
main,
main section {
    margin-top: 0;
    margin-bottom: 1rem;
}

body > header,
body > main,
body > footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

/* Headings */

h1 {
    font-size: 2rem;
    margin: 1.5rem 0 1rem 0;
}

h2 {
    font-size: 1.5rem;
    margin: 1.25rem 0 0.75rem 0;
}

h3 {
    font-size: 1.25rem;
    margin: 1rem 0 0.65rem 0;
}

h4 {
    font-size: 1rem;
    margin: 0.8rem 0 0.55rem 0;
}

h5 {
    font-size: 0.8rem;
    margin: 0.7rem 0 0.45rem 0;
}

h6 {
    font-size: 0.6rem;
    margin: 0.6rem 0 0.35rem 0;
}
